apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent-ingest-svc
  namespace: {{ .Values.global.namespace }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: agent-ingest-svc
  template:
    metadata:
      labels:
        app: agent-ingest-svc
    spec:
      containers:
        - name: agent-ingest-svc
          image: {{ .Values.image }}
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: oracle-credentials
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: agent-ingest-svc
  namespace: {{ .Values.global.namespace }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/actuator/prometheus"
    prometheus.io/port: "8080"
spec:
  selector:
    app: agent-ingest-svc
  ports:
    - port: 8080
      targetPort: 8080
      name: http
